.BuildControls{
  background-color: #FF7F50;
  width:80%;
  box-shadow: 0 2px gray;
  display:flex;
  flex-flow: column;
  justify-items: center;
  margin: auto;
  padding: 5px 2px;
}
.BuildControls price{
  margin-left: auto;
  margin-right: auto;
}