.BuildControl{
  display:flex;
  font:inherit;
  margin: 5px  0px;
  justify-content: space-between;
  align-items: center;
}
.BuildControl button{
  width:80px;
  outline: none;
  padding: 5px;
  margin: 0px 5px;
  cursor: pointer;
  font:inherit;
  font-weight: bold;
  display: block;
}
.BuildControl .less{
  border: 1px solid sandybrown ;
  background-color: sandybrown;
  
}
.BuildControl .more{
  border:1px solid tomato;
  background-color: tomato;
}
.BuildControl .less:hover{
  border : 1px solid black;
  background-color: lightgoldenrodyellow;
}
.BuildControl .more:hover{
  border : 1px solid black;
  background-color: lightgoldenrodyellow;
}
.BuildControl .label{
  margin: 0px 5px;
  width:80px;
  font-weight: bold;
}
.BuildControl .less:disabled{
  background-color: gray;
  border: 1px solid darkgray;
}
.BuildControl .more:disabled{
  background-color: gray;
  border: 1px solid darkgray;
}