.BuildControls{
  background-color: #FF7F50;
  width:300px;
  box-shadow: 0 2px gray;
  display:flex;
  flex-flow: column;
  align-items: center;
  justify-items: space-evenly;
  margin: auto;
  padding: 5px 2px;
}
.BuildControls .price{
  margin-left: auto;
  margin-right: auto;
}
.BuildControls .orderbtn{
  background-color: darkorange;
  width: 30%;
  font:inherit;
  margin-top:10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  padding: 2px 2px;
  cursor: pointer;
  border:1px solid darkorange;
  border-radius: 15px; 
}

.BuildControls .orderbtn:hover{
  border : 1px solid black;
  background-color: lightgoldenrodyellow;
  box-shadow:  3px 2px 8px 7px #888888 ;
}
.BuildControls .orderbtn:disabled{
  background-color: gray;
  border: 1px solid darkgray;
}
@media (min-width:600px){
  .BuildControls{
    width:60%;
  }
}